<script>
const agregar = (select_censored) => {
  const textarea = document.create_post.content.value.split(" ")
  
  select_censored.innerHTML= "";

  //elimina duplicados
  const dataArr = new Set(textarea);
  let result = [...dataArr];

  //carga el select
  result.forEach(element => {
      const option = document.createElement('option');
      option.value = element;
      option.text = element.charAt(0).toUpperCase() + element.slice(1).toLowerCase();
      select_censored.appendChild(option);
  });
};
</script>
    
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog challenge</a> 
    <form name="create_post" method="get" action="/pages/create" id="create_post" class="d-flex" role="create">
        <input name="title" 
               class="form-control me-2" 
               type="search" 
               placeholder="Title*" 
               aria-label="Title" required>

        <input name="image_url" 
               class="form-control me-2" 
               type="search" 
               placeholder="Image URL*" 
               aria-label="Image URL" required>
        
        <textarea name="content" 
                  class="form-control me-2" 
                  placeholder="Content*" 
                  id="contentTextarea"
                  aria-label="Content"
                  rows="1" required></textarea>        

        <select name="censored" 
            class="form-select me-2" 
            placeholder="Image URL" 
            aria-label="Censored word" 
            onFocus="javascript:agregar(this);">
            <option selected disabled value="">Censored word...</option>
           
        </select>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</nav>

<table class="table mt-2">
    <thead>
        <tr class="table-primary">
            <th>Title</th>
            <th>Image URL</th>
            <th>Content</th>
            <th>Created at</th>
        </tr>
    </thead>

    <% @posts.each do |post| %>
        <tr>
            <td><%= post.title%></td>
            <td><%= post.image_url%></td>
            <td><%= post.content%></td>
            <td><%= post.created_at.strftime("%d-%m-%Y %H:%M")%></td>
        </tr>
    <% end %>
</table>

<p class="text-muted">
  Source code at: https://github.com/lmunozm1702/desafio_blog
</p>